/* Icons */
/* Ghaus vars */
/* From Ghaus */
.formSubmitButton {
  margin: 16px auto;
  max-width: 180px;
}
.formSubmitButton :global(.vtex-button) {
  cursor: pointer;
  background-color: #008345;
  border: 1px solid #008345;
  height: 100%;
  width: 100%;
}
.formSubmitButton :global(.vtex-button) :global(.vtex-add-to-cart-button-0-x-buttonText) {
  color: #ffffff;
  font-size: 12px;
  font-weight: 800;
  line-height: 16px;
  line-height: 1rem;
  letter-spacing: 0rem;
  text-align: center;
  text-transform: uppercase;
}
@media only screen and (min-width: 370px) {
  .formSubmitButton :global(.vtex-button) :global(.vtex-add-to-cart-button-0-x-buttonText) {
    color: #ffffff;
    font-size: 14px;
    font-weight: 800;
    line-height: 20px;
    line-height: 1.25rem;
    letter-spacing: 0rem;
    text-align: center;
    text-transform: uppercase;
  }
}
@media only screen and (min-width: 1024px) {
  .formSubmitButton :global(.vtex-button) :global(.vtex-add-to-cart-button-0-x-buttonText) {
    color: #ffffff;
    font-size: 16px;
    font-weight: 800;
    line-height: 20px;
    line-height: 1.25rem;
    letter-spacing: 0rem;
    text-align: center;
    text-transform: uppercase;
  }
}
.formSubmitButton :global(.vtex-button) :global(.vtex-button__label) {
  color: #ffffff;
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  line-height: 1.25rem;
  letter-spacing: 0rem;
  text-align: center;
  text-transform: uppercase;
}
.formSubmitButton :global(.vtex-button):hover {
  background-color: #005a30;
  border-color: #005a30;
}
@media only screen and (min-width: 1024px) {
  .formSubmitButton {
    margin: 16px 0 16px auto;
  }
}
.formSubmitButton :global(.vtex-button) {
  padding: 8px 0;
  border-radius: 8px;
}
