.containerquadrantTopRight,
.containerquadrantTopRightMobile {
    margin-top: 26px;
}

.containerQuadrantFlagsAvanti--container__custom-flag-pdp {

    .containerquadrantTopRight,
    .containerquadrantTopRightMobile {
        margin-top: 34px;
    }

    .containerquadrantBottom,
    .containerquadrantBottomMobile {
        margin-bottom: 34px;
    }
}