.container-share-cart {
  display: flex;
  justify-content: center;
  margin-bottom: 14px;

  > button {
    font-family: $primaryFont;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    background-color: unset;
    border: unset;
    display: flex; 
    align-items: center;
    gap: 5px;
    text-decoration: underline;
    color: $black;

    &::before {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg width='13' height='12' viewBox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.1008 7.20775C9.7464 7.21009 9.39694 7.29081 9.07751 7.4441C8.75809 7.59739 8.47664 7.81945 8.25338 8.09431L5.19437 6.68659C5.3382 6.24675 5.3382 5.77262 5.19437 5.33278L8.25338 3.92506C8.61423 4.35993 9.1173 4.65353 9.67381 4.75402C10.2303 4.85451 10.8045 4.75545 11.295 4.47431C11.7854 4.19317 12.1607 3.74803 12.3546 3.21745C12.5484 2.68686 12.5484 2.10495 12.3544 1.5744C12.1605 1.04386 11.7851 0.598782 11.2946 0.317732C10.804 0.0366813 10.2299 -0.0622786 9.67338 0.0383169C9.11689 0.138912 8.61387 0.432596 8.2531 0.867538C7.89233 1.30248 7.69699 1.85072 7.70156 2.4155C7.70336 2.55821 7.71741 2.7005 7.74354 2.84081L4.57657 4.29646C4.23893 3.96674 3.81137 3.74386 3.34746 3.65575C2.88354 3.56764 2.40391 3.61821 1.96865 3.80114C1.53339 3.98406 1.16186 4.2912 0.900609 4.68407C0.639356 5.07694 0.5 5.53807 0.5 6.00969C0.5 6.4813 0.639356 6.94244 0.900609 7.33531C1.16186 7.72818 1.53339 8.03531 1.96865 8.21824C2.40391 8.40116 2.88354 8.45173 3.34746 8.36362C3.81137 8.27551 4.23893 8.05264 4.57657 7.72292L7.74354 9.17856C7.71741 9.31887 7.70336 9.46117 7.70156 9.60387C7.70156 10.0778 7.84227 10.541 8.1059 10.9351C8.36953 11.3291 8.74424 11.6362 9.18264 11.8176C9.62104 11.999 10.1034 12.0464 10.5688 11.954C11.0342 11.8615 11.4617 11.6333 11.7973 11.2982C12.1328 10.9631 12.3613 10.5361 12.4539 10.0713C12.5465 9.60653 12.499 9.12475 12.3174 8.68692C12.1358 8.24908 11.8283 7.87486 11.4337 7.61157C11.0392 7.34828 10.5753 7.20775 10.1008 7.20775ZM10.1008 1.21744C10.338 1.21744 10.57 1.2877 10.7672 1.41935C10.9645 1.55099 11.1183 1.7381 11.2091 1.95702C11.2999 2.17594 11.3236 2.41683 11.2773 2.64923C11.2311 2.88163 11.1168 3.0951 10.949 3.26266C10.7813 3.43021 10.5675 3.54431 10.3348 3.59054C10.1021 3.63677 9.86091 3.61304 9.64171 3.52236C9.42251 3.43169 9.23515 3.27813 9.10334 3.08111C8.97152 2.88409 8.90117 2.65245 8.90117 2.4155C8.90117 2.09775 9.02756 1.79302 9.25253 1.56834C9.4775 1.34366 9.78262 1.21744 10.1008 1.21744ZM2.90312 7.20775C2.66586 7.20775 2.43393 7.13748 2.23665 7.00584C2.03938 6.87419 1.88562 6.68708 1.79482 6.46816C1.70403 6.24925 1.68027 6.00836 1.72656 5.77596C1.77284 5.54355 1.8871 5.33008 2.05487 5.16253C2.22263 4.99498 2.43638 4.88087 2.66909 4.83464C2.90179 4.78842 3.14299 4.81214 3.36219 4.90282C3.58139 4.9935 3.76874 5.14706 3.90056 5.34408C4.03237 5.5411 4.10273 5.77273 4.10273 6.00969C4.10273 6.32743 3.97634 6.63216 3.75137 6.85684C3.5264 7.08152 3.22127 7.20775 2.90312 7.20775ZM10.1008 10.8019C9.86352 10.8019 9.63159 10.7317 9.43431 10.6C9.23704 10.4684 9.08328 10.2813 8.99248 10.0624C8.90169 9.84344 8.87793 9.60254 8.92422 9.37014C8.97051 9.13774 9.08476 8.92427 9.25253 8.75672C9.42029 8.58916 9.63404 8.47506 9.86675 8.42883C10.0994 8.3826 10.3406 8.40633 10.5598 8.49701C10.779 8.58769 10.9664 8.74125 11.0982 8.93826C11.23 9.13529 11.3004 9.36692 11.3004 9.60387C11.3004 9.92162 11.174 10.2264 10.949 10.451C10.7241 10.6757 10.4189 10.8019 10.1008 10.8019Z' fill='black'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      width: 13px;
      height: 12px;
    }
  }
}

.modal-share-cart {
  .modal-content-share-cart {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
    background-color: #fff;
    padding: 34px 35px 31px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 446px;
    height: auto;
    border-radius: 8px;
  }

  .overlay-modal-share-cart {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    cursor: pointer;
  }

  .title-modal-share-cart {
    font-family: $primaryFont;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: 0;

    &::before {
      content: "";
      background-image: url('data:image/svg+xml,<svg width="29" height="24" viewBox="0 0 29 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24.4922 0.765168C24.9933 0.268959 25.6602 -0.00536544 26.3521 7.95325e-05C27.044 0.00552451 27.7068 0.290314 28.2006 0.794353C28.6945 1.29839 28.9808 1.98226 28.9991 2.70165C29.0174 3.42103 28.7662 4.11968 28.2987 4.65016L14.1043 23.1131C13.8603 23.3865 13.5657 23.6059 13.2382 23.7582C12.9107 23.9106 12.5571 23.9926 12.1984 23.9995C11.8398 24.0064 11.4834 23.938 11.1508 23.7985C10.8181 23.6589 10.5159 23.4509 10.2623 23.1871L0.849199 13.3969C0.58706 13.1429 0.376806 12.8365 0.230978 12.4961C0.08515 12.1557 0.00673609 11.7883 0.000415228 11.4157C-0.00590564 11.0431 0.0599961 10.673 0.194188 10.3274C0.328379 9.98189 0.528112 9.66801 0.781471 9.4045C1.03483 9.14099 1.33662 8.93326 1.66885 8.79369C2.00108 8.65412 2.35693 8.58558 2.71517 8.59215C3.07342 8.59873 3.42673 8.68028 3.75401 8.83195C4.0813 8.98362 4.37586 9.2023 4.62012 9.47494L12.0695 17.219L24.4246 0.846569C24.4468 0.818082 24.467 0.790906 24.4922 0.765168Z" fill="%230EAA38"/></svg>');
      background-repeat: no-repeat;
      width: 29px;
      height: 24px;
    }
  }

  .subtitle-modal-share-cart {
    font-family: $primaryFont;
    font-size: 14px;
    font-weight: 400;
    color: #4d4d4d;
    text-align: center;
    margin: 22px 0 12px;
  }

  .content-close-modal-share-cart {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .close-modal-share-cart {
    @include textConfig($white, $primaryFont, 16, $fontExtraBold, 20, center, uppercase, 0);
    background-color: $green;
    border: none;
    border-radius: 8px;
    padding: 13px 18px;
    transition: background-color 300ms ease-in-out;

    &:hover {
      background-color: #005a30;
    }
  }

  .close-modal-share-cart-top {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;

    img {
      width: 25px;
      height: 25px;
    }
  }

  .content-copy-text-share-cart {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    padding: 13px 19px 13px 21px;
    border-radius: 8px;
    gap: 27px;
  }

  .copy-text-share-cart {
    margin: 0;
    font-family: $primaryFont;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #4d4d4d;

    word-break: break-all;
    word-wrap: break-word;
  }

  #copyMessage {
    color: $green-dark;
    font-family: $primaryFont;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    text-align: center;
    position: absolute;
    bottom: -16px;
  }

  #copyLinkBtnShareCart {
    display: flex;
    cursor: pointer;

    &::after {
      content: "";
      background-image: url('data:image/svg+xml,<svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.78125 0C1.30883 0 0.855765 0.187667 0.521716 0.521716C0.187667 0.855765 0 1.30883 0 1.78125L0 15.4375C0 15.7524 0.125111 16.0545 0.347811 16.2772C0.57051 16.4999 0.872555 16.625 1.1875 16.625V1.78125C1.1875 1.62378 1.25006 1.47276 1.36141 1.36141C1.47276 1.25006 1.62378 1.1875 1.78125 1.1875H16.625C16.625 0.872555 16.4999 0.57051 16.2772 0.347811C16.0545 0.125111 15.7524 0 15.4375 0L1.78125 0Z" fill="%23656565"/><path d="M4.15625 2.375C3.68383 2.375 3.23077 2.56267 2.89672 2.89672C2.56267 3.23077 2.375 3.68383 2.375 4.15625V17.2188C2.375 17.6912 2.56267 18.1442 2.89672 18.4783C3.23077 18.8123 3.68383 19 4.15625 19H11.3834C11.8556 18.9996 12.3084 18.8116 12.6421 18.4775L18.4787 12.6421C18.8124 12.3082 18.9999 11.8555 19 11.3834V4.15625C19 3.68383 18.8123 3.23077 18.4783 2.89672C18.1442 2.56267 17.6912 2.375 17.2188 2.375H4.15625ZM3.5625 4.15625C3.5625 3.99878 3.62506 3.84776 3.73641 3.73641C3.84776 3.62506 3.99878 3.5625 4.15625 3.5625H17.2188C17.3762 3.5625 17.5272 3.62506 17.6386 3.73641C17.7499 3.84776 17.8125 3.99878 17.8125 4.15625V10.6875H12.4688C11.9963 10.6875 11.5433 10.8752 11.2092 11.2092C10.8752 11.5433 10.6875 11.9963 10.6875 12.4688V17.8125H4.15625C3.99878 17.8125 3.84776 17.7499 3.73641 17.6386C3.62506 17.5272 3.5625 17.3762 3.5625 17.2188V4.15625ZM11.875 17.5667V12.4688C11.875 12.3113 11.9376 12.1603 12.0489 12.0489C12.1603 11.9376 12.3113 11.875 12.4688 11.875H17.5667L11.875 17.5667Z" fill="%23656565"/></svg>');
      background-repeat: no-repeat;
      width: 19px;
      height: 19px;
    }
  }

  @media (max-width: 650px) {
    .modal-content-share-cart {
      width: 85%;
      height: max-content;
      padding: 34px 18px 30px;
    }

    .content-copy-text-share-cart {
      gap: 19px;
    }
  }
}
