@import "../../../global/";

.flexCol--header-floating-buttons {
  pointer-events: all;
  position: fixed;
  bottom: 100px;
  right: 4px;
  width: auto;
  height: auto;
  z-index: 20;

  @include mq('1024') {
    right: 30px;
    bottom: 46px;
  }
}

.flexCol--customer-support {
  padding: 44px 20px;


  @media (max-height: 610px) {
    padding: 20px 20px;
  }

  @media (min-height: 611px) and (max-height: 700px) {
    padding: 30px 20px;
  }
}

.flexRow--customer-support-item {
  margin: 0 0 62px 0;

  &-06 {
    margin: 0;
  }
}