/* Icons */
/* Ghaus vars */
/* From Ghaus */
.product-identifier {
  color: #303030;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  line-height: 1.25rem;
  letter-spacing: 0rem;
  text-align: left;
  text-transform: initial;
}
