/* Icons */
/* Ghaus vars */
/* From Ghaus */
.paragraph--text-pix-pdp {
  margin-bottom: 19px;
  font-size: 14px;
  font-weight: 400;
  color: #4D4D4D;
  margin-top: 0px;
}

.strong--text-pix-pdp {
  color: #008345;
}
