@import '../../global';

.link {
  &--container__specialist-button-link {
    text-align: center;
    text-decoration: none;
  }
}

.label {
  &--container__specialist-button-link {
    font-size: 0.875rem;
    font-weight: 700;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.25rem;
    flex-wrap: wrap;

    &::before {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.50226 0.19043H9.49776C4.53539 0.19043 0.500012 4.22692 0.500012 9.19042C0.49693 11.0861 1.09699 12.9335 2.21339 14.4655L1.09176 17.809L4.55113 16.7032C6.01855 17.6767 7.74127 18.1942 9.50226 18.1904C14.4646 18.1904 18.5 14.1528 18.5 9.19042C18.5 4.22805 14.4646 0.19043 9.50226 0.19043ZM14.7391 12.8995C14.522 13.5127 13.6603 14.0212 12.9729 14.1697C12.5026 14.2698 11.8884 14.3497 9.82063 13.4924C7.17576 12.3967 5.47251 9.70904 5.33976 9.53467C5.21263 9.36029 4.27101 8.11155 4.27101 6.82005C4.27101 5.52855 4.92688 4.89967 5.19126 4.62967C5.40838 4.40805 5.76726 4.3068 6.11151 4.3068C6.22288 4.3068 6.32301 4.31243 6.41301 4.31693C6.67738 4.32818 6.81013 4.34392 6.98451 4.7613C7.20163 5.28442 7.73038 6.57592 7.79338 6.70867C7.85751 6.84142 7.92163 7.02142 7.83163 7.1958C7.74726 7.3758 7.67301 7.45567 7.54026 7.60867C7.40751 7.76167 7.28151 7.87867 7.14876 8.04292C7.02726 8.1858 6.89001 8.3388 7.04301 8.60317C7.19601 8.86192 7.72476 9.72479 8.50326 10.4178C9.50788 11.3122 10.3224 11.5979 10.6138 11.7194C10.8309 11.8094 11.0896 11.788 11.2483 11.6193C11.4496 11.4022 11.6983 11.0422 11.9514 10.6878C12.1314 10.4335 12.3586 10.402 12.5971 10.492C12.8401 10.5764 14.126 11.212 14.3904 11.3437C14.6548 11.4764 14.8291 11.5394 14.8933 11.6508C14.9563 11.7622 14.9563 12.2853 14.7391 12.8995Z' fill='black'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
      width: 19px;
      height: 19px;
      margin-right: 5px;
      display: flex;
    }

    &::after {
      content: 'Fale com um especialista';
      font-weight: 600;
      margin-left: 5px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
