@import '../../global/';

.carouselGaleryCursor {
  @include mq('1026') {
    width: calc(100% - 7.25rem);
    margin-left: auto !important;
    padding: 0;

    border: 0.0625rem solid $white01;
    border-radius: 1.5625rem;
  }
}

.productImagesThumb,
.productImagesThumbCaret {
  max-width: 5.375rem;
}

.productImagesThumb {
  @include size(5.375rem !important);
  border: 0.0625rem solid #f2f1f0;
  border-radius: 0.5rem;
}

.gradientBaseTop {
  background: none;

  .caretIcon {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.07863 0.439928L15.5525 6.79931C16.1492 7.38464 16.1492 8.33333 15.5525 8.91989C14.9578 9.50522 13.9912 9.50522 13.3956 8.91989L7.99972 3.61933L2.60464 8.91988C2.00906 9.50522 1.0437 9.50522 0.446809 8.91988C-0.148937 8.33333 -0.148937 7.38464 0.44681 6.79931L6.92064 0.439928C7.21916 0.14661 7.6096 3.21033e-05 8.00004 3.21374e-05C8.39048 3.21716e-05 8.78076 0.14661 9.07863 0.439928Z' fill='black'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    @include size(1rem, 0.625rem);

    & :first-child {
      display: none;
    }
  }
}

.gradientBaseBottom {
  background: none;

  .caretIcon {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.92137 9.27784L0.447542 2.91847C-0.149181 2.33313 -0.149181 1.38444 0.447542 0.797888C1.04215 0.212553 2.00882 0.212553 2.6044 0.797888L8.00029 6.09844L13.3954 0.797888C13.9909 0.212553 14.9563 0.212553 15.5532 0.797888C16.1489 1.38444 16.1489 2.33313 15.5532 2.91847L9.07936 9.27784C8.78084 9.57116 8.3904 9.71774 7.99996 9.71774C7.60952 9.71774 7.21924 9.57116 6.92137 9.27784Z' fill='black'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    @include size(1rem, 0.625rem);

    & :first-child {
      display: none;
    }
  }
}

.productImagesThumbActive {
  border: 0.125rem solid #ffe72e !important;
  border-radius: 0.5rem;
}

.thumbImg {
  object-fit: contain;
  border-radius: 0.5rem;
}

.productNameContainer {
  @include textConfig(#000, 22, 900, 24, left, initial, 0);

  margin: 1.125rem 0 0 0;

  @include mq('1025') {
    margin-top: 0;
  }
}

.skuSelectorName {
  @include textConfig(#000, 14, 900, 16, left, initial, 0);
  &::after {
    content: ':';
    font-size: 0.875rem;
  }
}

.skuSelectorSelectorImageValue,
.skuSelectorNameSeparator {
  display: none;
}

.skuSelectorContainer {
  margin-top: 0;
  margin-bottom: 1rem;
}

.frameAround,
.diagonalCross {
  display: none;
}

.skuSelectorNameContainer {
  @include display-flex(flex-start, flex, flex-start, column);
}

.skuSelectorItem {
  margin: 0 0.75rem 0 0;
  min-height: 1.625rem;
  min-width: 3.25rem;
  height: fit-content;
  width: fit-content;
  border-radius: 0.5rem;
  background: $white;
  margin-left: 0;
}

.skuSelectorSubcontainer--cor {
  display: none;
}

.skuSelectorItemImage {
  @include size(3.5rem);
}

.skuSelectorOptionsList {
  margin-left: 0;
}

.skuSelectorItemTextValue {
  padding: 0.25rem 0.5rem;
  @include textConfig($dark-gray, 14, $fontBold, 16, center, initial, 0);
  white-space: nowrap;
}

.skuSelectorItem--selected {
  border: 0.125rem solid #ffe72e;
}

.skuSelectorInternalBox,
.skuSelectorItem--selected,
.skuSelectorItem {
  box-shadow: none;
  border-radius: 0.5rem;
}

.skuSelectorInternalBox {
  border: 0;
}

.valueWrapper--unavailable {
  line-height: 1.625rem;
  height: 100%;
  width: 100%;
  display: block;
  background: $white02;
  color: $light-gray-02 !important;
}

.shippingContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0.625rem;
  margin-top: 1rem;
  @include button-primary-white-bg();

  @include mq('1026') {
    grid-template-columns: 1fr 0.33fr max-content;
    grid-template-areas: 'input button text';
    gap: 0.25rem;
    align-items: flex-end;
    margin-top: 1.25rem;
    padding-top: 1.375rem;
    border-top: 0.0625rem solid #f2f1f0;

    :global(.vtex-input) {
      grid-area: input;
    }

    :global(.vtex-button) {
      grid-area: button;
    }

    :global(.vtex-address-form__postalCode-forgottenURL) {
      grid-area: text;
    }

    :global(.vtex-address-form__postalCode) {
      :global(.vtex-input__error) {
        margin-top: 0.75rem;
        line-height: 1rem;
      }
    }
  }

  & :global(.vtex-button) {
    @include size(100%, 2.5rem);
    border-radius: 0.5rem;
    margin-top: 1.75rem;
    padding: 0.375rem 0;

    cursor: pointer;

    &:hover {
      background-color: #008345;
      border-color: #008345;
    }
  }

  :global(.vtex-button__label) {
    font-size: 0 !important;

    &::after {
      content: 'Calcular';
      font-size: 0.875rem;
    }
  }
}

.shippingTable {
  margin: 0;
  padding: 0;

  border: none;
  box-shadow: none;
}

.shippingTableRow {
  display: flex;
}

.shippingTableCellDelivery {
  &Name,
  &Estimate,
  &Price {
    flex: 1;

    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  &Estimate {
    order: 1;

    @include textConfig($dark-blue, 12, $fontRegular, 16, left, initial, 0);

    padding-left: 0;
  }

  &Name {
    order: 2;

    @include textConfig($dark-blue, 12, $fontBold, 16, left, initial, 0);
  }

  &Price {
    order: 3;

    @include textConfig($dark-blue, 12, $fontBold, 16, right, initial, 0);

    padding-right: 0;
  }
}

.shippingTableLabel {
  display: block;
}

.shippingTableRadioBtn {
  display: none;
}

.productDescriptionContainer {
  @include mq('1025') {
    padding: 1.25rem;
  }

  @include border-radius();
  border: 0.0625rem solid $light-gray-09;

  padding: 1rem;
}

.productDescriptionTitle {
  @include text(4, $primary-color, $fontBold);
  margin: 0 0 1rem 0;

  @include mq('1024') {
    @include text(3, $primary-color, $fontBold);
  }
}

.productDescriptionText {
  @include textConfig($dark-gray, 14, $fontRegular, 24, left, initial, 0);
  display: inline !important;
}

.carouselGaleryThumbs {
  @include mq('1024') {
    display: flex;
    align-items: center;
    position: relative;
  }
}

.productImagesContainer {
  .carouselContainer {
    display: flex;

    .carouselGaleryThumbs {
      width: auto;
    }
  }
}

.swiperBullet {
  background-color: #f2f1f0;
  border: 0.0625rem solid #4d4d4d;
}

.swiperBullet--active {
  background-color: #ffe72e;
}
