/* PDP Layout */
@import '../../global/';

@include mq('1024', max) {
  :global(.vtex-flex-layout-0-x-flexRowContent--container__product-available) {
    flex-direction: column;

    > :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
      /* Element already has width in it's inline style */
      width: 100% !important;
    }
  }
}

:global(.vtex-flex-layout-0-x-flexRowContent--container__shipping-simulator) {
  input {
    padding-left: 0;
    // background: url('assets/imgs/postalcode-placeholder.png');
    background-size: 83px;
    background-repeat: no-repeat;
    background-position-y: center;

    &:not([value='']) {
      background-image: none;
    }
  }
}

:global(.vtex-store-components-3-x-carouselGaleryThumbs)
  :global(.swiper-container-vertical)
  > :global(.swiper-wrapper),
:global(.lfmaquinaseferramentas-custom-apps-0-x-carouselGaleryThumbs)
  :global(.swiper-container-vertical)
  > :global(.swiper-wrapper) {
  align-items: baseline;
}

:global(.yourviews-yourviewsreviews-1-x-inlineRating) {
  margin-left: 0;
  padding-left: 0;
}

:global(.yourviews-yourviewsreviews-0-x-reviewsReviewItem)
  ul:has(:global(.yourviews-yourviewsreviews-0-x-reviewsCustomerPhotos)) {
  grid-column: 2/3;
  margin: 0;
}

:global(.vtex-flex-layout-0-x-flexRowContent--container__description-pdp) {
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    &:empty {
      display: none;
    }
  }
}

:global(.render-route-store-product)
  :global(.vtex-sticky-layout-0-x-wrapper--container__header-desktop),
:global(.render-route-store-product)
  :global(.vtex-sticky-layout-0-x-wrapper--container__header-mobile) {
  background: $white;
}

/* Availbility Notify */
:global(.vtex-availability-notify-1-x-success) {
  &:global(.c-danger) {
    color: $red;
  }

  &:global(.c-success) {
    color: $green;
  }
}

:global(.vtex-store-components-3-x-carouselGaleryThumbs > div.swiper-container),
:global(
    .lfmaquinaseferramentas-custom-apps-0-x-carouselGaleryThumbs
      > div.swiper-container
  ) {
  @include mq('1024') {
    max-height: 550px;
    position: static;
  }
}

:global(.vtex-reviews-and-ratings-3-x-formContainer) h3 {
  @include textConfig($primary-color, 16, $fontSemiBold, 19, left, initial, 0);
}
