/* Icons */
/* Ghaus vars */
/* From Ghaus */
.trigger--lp-bf-question {
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none;
  width: 100%;
  justify-content: space-between;
  padding: 35px 18px;
  border-radius: 8px;
  background: #2e2e2e;
}
@media only screen and (max-width: 1025px) {
  .trigger--lp-bf-question :global(.vtex-store-icons-0-x-caretIcon) {
    margin-right: 0;
    margin-left: 20px;
    flex-shrink: 0;
  }
}
.trigger--lp-bf-question--hidden {
  margin-bottom: 24px;
}
.trigger--lp-bf-question--hidden :global(.vtex-store-icons-0-x-caretIcon) {
  background: url("data:image/svg+xml,%3Csvg width='20' height='13' viewBox='0 0 20 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 2L10 10.5L18 2' stroke='%23FFE72B' stroke-width='3.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat center center;
  background-size: contain;
}
.trigger--lp-bf-question--visible {
  border-radius: 8px 8px 0 0;
}
.trigger--lp-bf-question--visible :global(.vtex-store-icons-0-x-caretIcon) {
  background: url("data:image/svg+xml,%3Csvg width='20' height='13' viewBox='0 0 20 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 10.5L10.5 2L2.5 10.5' stroke='%23FFE72B' stroke-width='3.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat center center;
  background-size: contain;
}

.content--lp-bf-answer {
  border-radius: 0 0 8px 8px;
  background: #2e2e2e;
  padding: 0 18px 35px;
}
.content--lp-bf-answer--visible {
  margin-bottom: 24px;
}
