// Font Family
$primaryFont: 'Mulish', sans-serif;
$secondaryFont: 'Mulish', sans-serif;

$fontLight: 300;
$fontRegular: 400;
$fontMedium: 500;
$fontSemiBold: 600;
$fontBold: 700;
$fontExtraBold: 800;
$fontBlack: 900;

$black: #000000; 
$black-02: #25282A;  
$black-03: #303030; 
$rgba-black: rgba(0, 0, 0, 0.10);  
$rgba-black: rgba(0, 0, 0, 0.05);
$white: #ffffff; 
$white-01: #CED9ED;
$white-02: #F4F4F4;
$dark-gray: #7C7C7B; 
$dark-gray-01: #656565; 
$dark-gray-02: #364044;
$light-gray: #F2F1F0; 
$light-gray-01: #E3E3E3; 
$light-gray-02: #F5F5F5; 
$light-gray-03: #C9C9C9; 
$light-gray-04: #929292;
$light-gray-05: #EDEDED;
$light-green: #0EAA38;
$medium-gray: #B2B2B2;
$darkest-gray: #4D4D4D;
$green: #008345; 
$green-dark: #005a30;
$green-light: #6C7748;
$blue: #004CD2; 
$sand: #EBE6D7; 

//Colors custom
$primary-color: #000000;
$secondary-color: #ffe72e;
