@import '../../global';

.trigger {
  &--footer-submenu {
    box-shadow: none;
    background: transparent;
    border: 0;
    width: 100%;
    margin: 0;
    padding: 16px 0;
    transition: all ease-in-out 300ms;
    @include display-flex(center, flex, space-between, row);

    &::after {
      content: '';
      display: block;
      background-image: $icon-arrow-down;
      background-repeat: no-repeat;
      background-position: center;
      height: 12px;
      width: 12px;
      transition: all ease-in-out 200ms;
    }

    &--visible {
      &::after {
        transform: rotate(180deg);
      }
    }
  }
}

.content {
  &--footer-submenu {
    transition: opacity 300ms ease-in-out, height 300ms ease-in-out,
      transform 300ms ease-in-out;
    opacity: 0;
    height: 0;
    transform: translate3d(0, -10%, 0);

    &[data-enter] {
      opacity: 1;
      height: auto;
      transform: translate3d(0, 0, 0);
    }

    &[data-leave] {
      height: 0;
      overflow: hidden;
    }

    &--visible {
      padding-bottom: 32px;
    }
  }
}
